{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Babuin Land</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  </head>
<body>  
  <header>
    <nav id="header-nav" class="navbar navbar-expand-lg">

          <div class="navbar-brand">
          <a class="float-left d-none d-md-block">
            <div id="{% static 'images/denisLable.png' %}" alt="Logo image"></div>
          </a>
            <a href="index.html"><h1>BABUIN LAND</h1></a>
<!--             <h5>  
              Obunga party
            </h5>  -->
              <div id="navbarPhrase">Поговорим на языке боли</div>
          </div>

          <button id="navbarToggle" type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-angle-double-down"></i>
          </button>

        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav ml-auto mt-2 ">
            <li id="navHomeButton" class="nav-item d-sm-block d-lg-none">
              <a href="index.html">
               <i class="fas fa-home"></i></i> WHAT</a>
            </li>
            <li id="navMenuButton" class="nav-item active">
              <a href="#" onclick="$dc.loadBestMonke();">
                <i class="far fa-star"></i><br class="d-none"> Best Monke
              </a>
            </li>
            <li class="nav-item active">
              
                {%if user.is_authenticated %}
                <a>LOGGED AS {{user.username}}</a> <a href="{% url 'logout'%}? next=/">Log out
                {%else%}
                <a href="{% url 'login' %}? next=/">LOG IN 
                {%endif%}
               <i class="far fa-eye"></i>
               <br class="d-none">               


              </a>
            </li>
            <li class="nav-item active">
              <a href="#" onclick="$dc.loadTechSupport();">
                <i class="far fa-question-circle"></i><br class="d-none"> Тех. поддержка</a>
            </li>
            
           
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
    </nav><!-- #header-nav -->
  </header>
 
    <div id="main-content" class="container">
    <h1>
        {% block title %}
            BORTH
        {% endblock title %}
    </h1>

    <nav id="nav">
        <ul>
            {% block sidenav %}
                <li> REBORN </li> <li> BORN </li> <li> BORE </li>
            {% endblock sidenav %}
        </ul>
    </nav>

      {% block content %}
        <h1> GDR_XRT11 </h1>
      {% endblock content %}
  </div>


  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
        <span>Сайт работает с 12:00 по 12:00 четверг в пятницу</span>
          <hr class="d-block d-sm-none">
        </section>
        <section id="address" class="col-sm-4">
        <span>"Олег работает в алкашке" (с) Олег</span>
          <hr class="d-block d-sm-none">
        </section>
        <section id="testimonials" class="col-sm-4">
          <span>Страница официально принята в комитет боли</span>
        </section>
      </div>
      <div class="text-center" >&copy; Send you sad life story to <a href="/contact">us</a>! </div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- <script src="{% static 'js/ajax-utils.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script> -->
</body>
</html>